@media (max-width: 720px) {
    .hidden-mobile {
        display: none;
    }
    #lobby #worlds .world .worldstats {
        display: none !important;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: black;
    text-align: center;
    font-family: sans-serif, system-ui;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#touchwarn.closed {
    display: none;
}

#touchwarn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    width: max(1440px, 100%);
    height: max(810px, 100%);
    background: rgba(32, 32, 64, 0.8);
    z-index: 5;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#touchwarnContainer {
    position: relative;
    padding: 1em;
    background: rgba(16, 16, 32, 0.9);
    border: solid black 2px;
    border-radius: 10px;
    text-align: center;
}

#lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#lobby #worlds
{
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow-y: auto;
}
#lobby #worlds::-webkit-scrollbar {
    width: 0.5em;
}

#lobby #worlds::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(3, 3, 3, 0.3);
}

#lobby #worlds::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: solid 1px black;
    background-color: #555;
}


#lobby #worlds .world:hover
{
    border-radius: 5px;
    border: solid 4px white;
    cursor: pointer;
}

#lobby #worlds .world.fast
{
    order: 1;
}
#lobby #worlds .world.medium
{
    order: 2;
}
#lobby #worlds .world.slow
{
    order: 3;
}
#lobby #worlds .world.pending
{
    order: 5;
}

#lobby #worlds .world.pending .playnow
{
    background: #666;
    box-shadow: 0px 4px 0px #444, 0px 0px 20px 3px #444;
    color: black;
}

#lobby #worlds .world .playnow
{
    background: #08a3ff;
    border: none;
    box-shadow: 0px 4px 0px #2e55bb, 0px 0px 20px 3px #2e55bb;
    color: white;
    margin: 0px 15px;

}

#lobby #worlds .world
{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    text-align: left;
    justify-content: flex-start;
    margin: 10px;
    border-radius: 5px;
    border: solid 4px transparent;
    background-color: #002;
    padding: 5px;
}

#lobby #worlds .world.pending img {
    opacity: 0.5;
}

#lobby #worlds .world img
{
    width: 64px;
    height: 64px;
}

#lobby #worlds .world.pending .worldstats {
    color: #777;
}
#lobby #worlds .world .explain
{
    margin-left: 20px;
    flex-grow:2;
}

#lobby #worlds .world .explain .title
{
    font-size: 2em;
    margin-top: 2px;
    margin-bottom: 2px;
}

#lobby #worlds.pingenabled .world .ping
{
    display:block;
}

#lobby #worlds .world .ping
{
    display:none;
}

#lobby #worlds .world .location
{
    font-size: 1.5em;
    margin-top: 2px;
}

.world.fast .ping span
{
    color: white;
}
.world.medium .ping span
{
    color: yellow;
}
.world.slow .ping span
{
    color: red;
}

#lobby #worlds .world .worldstats
{
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 90px;
    font-size: 0.7em;
    margin-top: 2px;
}

.dead.spectating #links
{
    display: none;
}
.dead #links,
.landing #links
{
    display: block;
}

#links {
    display: none;
    position: absolute; 
    right: 0px;
    bottom: 0px;
    padding: 8px;
    list-style: none;
    background-color: #002;
    border-top-left-radius: 5px;
    border-top: solid 4px white;
    border-left: solid 4px white;
}

#links ul li a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
}

#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#links ul li {
    display: inline;
}


#gameArea {
    width: 100%;
    height: 100%;
    touch-action: none;
    position: relative;
}

#gameCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#error {
    /* Dropdown effect from: https://davidwalsh.name/css-slide*/
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
    width: 100%;
    background: rgba(0, 0, 70, 0.8);
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 0;
}
.connectionerror #error {
    max-height: 62px;
}

#error_message {
    color: red;
    font-weight: bold;
}

.dead.spectating .spawnscreen,
.alive .spawnscreen,
.dead #minimapTip {
    visibility: hidden;
}

.spawnscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#deathScreen {
    display: none;
}

#deathScreen table {
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
    min-width: 200px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#logo {
    width: 560px;
}

#hintbox {
    font-size: 14pt;
    text-align: center;
}

a:visited,
a {
    color: white;
}

#changelog {
    left: 8px;
    bottom: 8px;
    padding: 0.5em;
    margin: 8px;
    width: 304px;
}

#changelog table {
    width: 304px;
}

#changelog h4 {
    margin: 0 0 3px 3px;
}

#changelog .date {
    color: #aaaaaa;
    padding-right: 2em;
}

#controls_instructions {
    width: 240px;
    padding: 16px;
}

#controls_instructions img {
    width: 215px;
}

.spawnscreen .social {
    text-align: left;
    bottom: 0;
    margin-left: 2%;
    margin-right: 2%;
    position: absolute;
    width: 96%;
}
.spawnscreen .controls {
    z-index: 2;
    margin-bottom: 64px;
    padding: 32px;
    width: 650px;
}

.spawnscreen .controls,
#spectate_container,
.spectating #spectatecontrols,
#controls_instructions,
#changelog {
    background: rgba(16,21,31,0.9);
    border-radius: 10px;
    margin: 8px;
}

#spectate_container {
    padding: 8px;
}

#spectatecontrols {
    display: none;
}

.spectating #spectatecontrols {
    position: absolute;
    left: 50%;
    bottom: 8px;
    transform: translate(-50%, 0);
    display: block;
    max-width: 520px;
    padding: 20px;
    z-index: 2;
}

.spectate_only #spectatecontrols {
    display: none;
}

button,
select,
input[type="text"] {
    border: 2px solid #2c3a55;
    border-radius: 5px;
    background: none;
    padding: 10px;
    margin: 8px;
    font-size: 1rem;
    font-family: sans-serif, system-ui;
    font-weight: bold;
    color: #9d9d9d;
    transition: border 0.5s;
    -webkit-appearance: none;
}

button:hover,
select:hover,
input[type="text"]:hover {
    cursor: pointer;
    border: 2px solid #455b87;
}

#spawn {
    width: 177px;
}

#dauth img {
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-right: 10px;
    background-color: white;
    border-radius: 8px;
}

#dauth.authenticated {
    background-color: inherit;
}

#spectate {
    width: 177px;
}

#arenas {
    width: 370px;
}
#spawn {
    background: #08a3ff;
    border: none;
    box-shadow: 0px 4px 0px #2e55bb, 0px 0px 20px 3px #2e55bb;
    color: white;
}
#spectate {
    background: #fe8358;
    border: none;
    box-shadow: 0px 4px 0px #e35520;
    color: white;
}
#nick {
    margin-bottom: 8px;
    border: none;
    text-align: center;
    padding: 5px 0;
    font-size: 2rem;
    color: white;
    width: 20rem;
    font-family: sans-serif, system-ui;
    background: #1f2b3d;
    border-radius: 10px;
}

#shipSelectorSwitch {
    margin-bottom: 24px;
    height: 80px;
}

#shipSelectorSwitch .circle {
    max-width: 72px;
    max-height: 72px;
    cursor: pointer;
    border-radius: 0%;
    transition: transform 0.6s;
    display: inline-block;
    transform: rotate(-90deg);
}

#shipSelectorSwitch .circle:hover {
    transform: rotate(-90deg) scale(1.1);
}

#shipSelectorSwitch .selected,
#shipSelectorSwitch .selected:hover {
    transform: rotate(-90deg) scale(1.3);
}

#nick:focus {
    outline: none;
}

select {
    appearance: none;
}

.noselect {
    user-select: none;
}

#ctf_arena {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
}

#ctf_cyan {
    position: absolute;
    top: 20px;
    margin-right: 25%;
    font-size: 30px;
    left: 0;
    width: 50%;
    text-align: right;
}

#ctf_cyan .flag_status {
    margin-right: 150px;
    opacity: 0.7;
}

#ctf_cyan .flag_status .home {
    color: green;
}

#ctf_cyan .flag_status .taken {
    color: red;
}

#ctf_red {
    position: absolute;
    top: 20px;
    margin-right: 25%;
    font-size: 30px;
    text-align: left;
    width: 50%;
}

#ctf_red .flag_status {
    margin-left: 150px;
    opacity: 0.7;
}

#ctf_red .flag_status .home {
    color: green;
}

#ctf_red .flag_status .taken {
    color: red;
}

.property-name {
    text-align: left;
}

.function .property-name {
    width: 100% !important;
}

table {
    text-align: left;
}

#shoot {
    border-radius: 100%;
    width: 8vh;
    height: 8vh;
    position: absolute;
    right: 10%;
    bottom: 5%;
    border: 2vh solid white;
}
#shoot:before {
    border: 2vh solid #fff;
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border-radius: 100%;
}

#boost {
    border-radius: 100%;
    width: 8vh;
    height: 8vh;
    position: absolute;
    right: 5%;
    bottom: 20%;
    border: 2vh solid white;
}
#boost:before {
    content: "";
    display: block;
    position: absolute;
    top: 3vh;
    left: 3vh;
    right: 3vh;
    bottom: 3vh;
    border-radius: 100%;
    background: white;
}

#boost:after {
    content: "";
    display: block;
    position: absolute;
    left: 3vh;
    right: 3vh;
    bottom: 0vh;
    width: 0;
    height: 0;
    border-left: 1vh solid transparent;
    border-right: 1vh solid transparent;
    border-top: 4vh solid white;
}

#gear {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    width: max(1440px, 100%);
    height: max(810px, 100%);
    background: rgba(32, 32, 64, 0.8);
    z-index: 3;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gear.closed {
    display: none;
}

#settingsContainer {
    position: relative;
    padding: 1em;
    background: rgba(16, 16, 32, 0.9);
    border: solid black 2px;
    border-radius: 10px;
    text-align: left;
}
#settingsContainer h1,
#settingsContainer h4 {
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
}
#settingsContainer h1 {
    margin-bottom: 16px;
}
#settingsContainer label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
#settingsContainer input,
#settingsContainer select {
    margin: 0;
    margin-left: 8px;
}

.close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    width: 24px;
}
.text-icon {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    vertical-align: -0.25em;
}
#gear button {
    margin: 2px;
    border: solid 1px #9d9d9d;
    color: white;
}

.checkbox {
    display: block;
    position: relative;
    padding-right: 35px;
    cursor: pointer;
    user-select: none;
}
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
    background-color: #2196f3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.spectating #fullPageCard,
.alive #fullPageCard {
    display: none;
}

.dead.spectating .stats {
    display: none;
}

.landing #autofireContainer,
.dead #autofireContainer,
.dead .stats {
    display: none;
}
.stats {
    font-family: sans-serif, system-ui;
    font-size: 8pt;
    position: absolute;
    bottom: 15px;
    left: 15px;
    text-align: left;
    width:100%;
}

#leaderboard,
#leaderboard-left,
#leaderboard-center {
    position: absolute;
    width: 260px;
    padding: 0;
    margin: 0;
    font-size: 12pt;
}

#leaderboard {
    top: 10px;
    right: 10px;
}

#leaderboard-left {
    top: 10px;
    left: 10px;
}

#leaderboard-center {
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
}

#leaderboard td,
#leaderboard tr,
#leaderboard-left td,
#leaderboard-left tr {
    white-space: nowrap;
    overflow: hidden;
    height: 28px;
    margin: 0;
    padding: 0;
    border: none;
}

.overlap {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100px;
    margin: 0;
    padding: 0;
}
.arrow {
    width: 18px;
    height: 18px;
    margin: auto;
    display: block;
}
.blue {
    color: cyan;
}
.score {
    float: right;
    right: 0px;
    text-align: right;
    width: 40px;
}
td.flag {
    width: 27px;
    height: 27px;
    position: relative;
}
.name {
    width: 204px;
}
table {
    border-spacing: 0;
}
.flag-arrow {
    width: 27px;
    height: 27px;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
}

#log {
    font-size: 16px;
    padding-bottom: 20px;
}

.hide {
    display: none;
}

.dead #cooldown,
.spectating #cooldown {
    display: none;
}

#cooldown {
    position: absolute;
    bottom: 24px;
    left: 50%;
    width: 30%;
    transform: translateX(-50%);
}

progress {
    display: block;
    width: 300px;
    margin: 2em auto;
    padding: 4px;
    border: 0 none;
    background: rgba(4, 4, 4, 0.5);
    border-radius: 14px;
}
progress {
    height: 15px;
}
progress::-moz-progress-bar {
    border-radius: 12px;
    background: red;
}
progress[value="255"]::-moz-progress-bar {
    background: lime;
}
/* webkit */
progress::-webkit-progress-bar {
    background: transparent;
}
progress::-webkit-progress-value {
    border-radius: 12px;
    background: red;
}
progress[value="255"]::-webkit-progress-value {
    background: lime;
}
#bigLog {
    position: absolute;
    top: 4em;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
}

#minimapTip {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 15px;
    color: #777;
}

#autofireContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ccc;
}

#plusScoreContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
}

.plusScore {
    font-size: 40px;
    opacity: 0;
    animation: plusScore 2.5s;
    position: absolute;
}

@keyframes plusScore {
    0% {
        opacity: 0;
        transform: translate(-100%, 0px);
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-100%, -200px);
    }
}

#comboMessage {
    color: #ff5555;
    position: absolute;
    top: 4.5em;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
}
#emoji-container {
    width: 345px;
    height: 400px;
    display: none;
    position: absolute;
    transform: translate(60%, -50%);
}
#emoji-container.open {
    display: block;
}
#emoji-trigger {
    font-size: 2rem;
    font-family: sans-serif, system-ui;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}


button:disabled,
input[type="button"]:disabled {
    background: darkred;
}
.loading {
    display: none;
}
#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#nipple-controls {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.alive #nipple-controls {
    visibility: visible;
}

#nipple-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}