@import url("https://fonts.googleapis.com/css?family=Exo+2");

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    text-align: center;
    overflow: hidden;
    font-family: "Exo 2", Verdana;
    color: white;
}

.aspectratio {
    width: 100vw;
    height: 56.25vw; /* 100/56.25 = 1.778 */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
}
#container {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#titan {
    position: absolute;
    height: 50vh;
    width: 30vw;
    bottom: 0;
    right: 15px;
    z-index: 4;
}

#error {
    display: none;
}
#error.closed {
    max-height: 0;
}
#error_message {
    color: red;
    font-weight: bold;
}
.connectionerror .aspectratio #error {
    /* Dropdown effect Learnt From: https://davidwalsh.name/css-slide. Doesnt work as expected */
    overflow-y: hidden;
    max-height: 500px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -moz-transition-property: all;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -ms-transition-property: all;
    -ms-transition-duration: 0.5s;
    -ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    display: block;
    width: 100%;
    background: rgba(0, 0, 70, 0.8);
    text-align: center;
    position: absolute;
    z-index: 1;
}

.loading .spawnscreen,
.dead.spectating .spawnscreen,
.alive .spawnscreen {
    visibility: hidden;
}

.spawnscreen {
    animation: fadein 2s;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 50, 0.8);
    top: 0;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#logo {
    width: 90vmin;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

#hintbox {
    font-size: 14pt;
}

a:visited,
a {
    color: white;
}

#twitterpated {
    left: 30px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.5em;
}

#twitterpated .date {
    float: left;
    color: #111111;
    margin-right: 1em;
}

#controls_instructions {
    position: absolute;
    right: 20%;
    width: 240px;
    margin-top: -14px;
}

.spawnscreen .social {
    text-align: left;
    bottom: 50px;
    margin-left: 50px;
    position: absolute;
    width: 100%;
    transition: 0.25s filter linear;
}

.spectating #nipple-controls,
.loading #nipple-controls {
    visibility: hidden;
}

#nipple-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.social_divider {
    margin-top: 5px;
}

#reddit {
    width: 10%;
    margin-left: 20px;
    vertical-align: super;
}

#discord {
    height: 40px;
}

#iogamesspace {
    vertical-align: middle;
    width: 4%;
}

#titotu {
    width: 9%;
    margin-left: 20px;
    vertical-align: middle;
}

#titotu span {
    font-size: 15px;
}

.spawnscreen .controls {
    margin: 3vmin;
    position: relative;
    z-index: 2;
    transition: 0.5s filter linear;
}

#spectate_container {
    float: right;
    margin-right: 10%;
}

#stop_spectating_container {
    display: none;
}

.spectating #stop_spectating_container {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: block;
}

.spectate_only #stop_spectating_container {
    display: none;
}

.spectating #stop_spectating {
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px 5px 10px 5px;
    border: none;
    background: linear-gradient(to right, #008888 0%, #0066ff 100%) left bottom rgba(55, 55, 90, 0.8) no-repeat;
    background-size: 100% 5px;
    color: white;
    opacity: 0.1;
}

.spectating #stop_spectating:hover {
    opacity: 1;
}

.spawnscreen input,
.spawnscreen select,
.spawnscreen button {
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px 5px 10px 5px;
    border: none;
    background: linear-gradient(to right, #008888 0%, #0066ff 100%) left bottom rgba(55, 55, 90, 0.8) no-repeat;
    background-size: 100% 5px;
    color: white;
    margin: 0.5em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#ctf_arena {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
}

#ctf_cyan {
    position: absolute;
    top: 20px;
    margin-right: 25%;
    font-size: 30px;
    left: 0;
    width: 50%;
    text-align: right;
}

#ctf_cyan .flag_status {
    margin-right: 187px;
    opacity: 0.7;
}

#ctf_cyan .flag_status .home {
    color: green;
}

#ctf_cyan .flag_status .taken {
    color: red;
}

#ctf_red {
    position: absolute;
    top: 20px;
    margin-right: 25%;
    font-size: 30px;
    text-align: left;
    width: 50%;
}

#ctf_red .flag_status {
    margin-left: 170px;
    opacity: 0.7;
}

#ctf_red .flag_status .home {
    color: green;
}

#ctf_red .flag_status .taken {
    color: red;
}

.property-name {
    text-align: left;
}

.function .property-name {
    width: 100% !important;
}

table {
    text-align: left;
}

#shoot {
    border-radius: 100%;
    width: 8vh;
    height: 8vh;
    position: absolute;
    right: 10%;
    bottom: 5%;
    border: 2vh solid white;
}
#shoot:before {
    border: 2vh solid #fff;
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border-radius: 100%;
}

#boost {
    border-radius: 100%;
    width: 8vh;
    height: 8vh;
    position: absolute;
    right: 5%;
    bottom: 20%;
    border: 2vh solid white;
}
#boost:before {
    content: "";
    display: block;
    position: absolute;
    top: 3vh;
    left: 3vh;
    right: 3vh;
    bottom: 3vh;
    border-radius: 100%;
    background: white;
}

#boost:after {
    content: "";
    display: block;
    position: absolute;
    left: 3vh;
    right: 3vh;
    bottom: 0vh;
    width: 0;
    height: 0;
    border-left: 1vh solid transparent;
    border-right: 1vh solid transparent;
    border-top: 4vh solid white;
}

#gear {
    position: absolute;
    padding: 10vmin;
    top: 0;
    left: 0;
    width: calc(100% - 20vmin);
    height: calc(100% - 20vmin);
    background: rgba(0, 0, 50, 0.8);
    z-index: 3;
    overflow-y: scroll;
    opacity: 1;
    transition: 0.5s opacity ease-in-out;
}

#worlds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background: rgb(0, 0, 100);
    z-index: 3;
    overflow-y: scroll;
    padding: 3em;
    opacity: 1;
    transition: 0.5s opacity ease-in-out;
}

#worldList {
    width: 100%;
}
.closed {
    opacity: 0 !important;
    z-index: -2 !important;
}

.blur {
    filter: blur(10px);
}

.hide {
    display: none;
}