@import url("https://fonts.googleapis.com/css?family=Exo+2");
@font-face {
    font-family: KenneyFuture;
    src: url("../fonts/Kenney Future.ttf");
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    text-align: center;
    overflow: hidden;
    font-family: KenneyFuture;
    color: white;
    --bg-color-1: #222;
}


.aspectratio {
    width: 100vw;
    height: 56.25vw; /* 100/56.25 = 1.778 */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
}
#container {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#titan {
    position: absolute;
    height: 50vh;
    width: 30vw;
    bottom: 0;
    right: 15px;
    z-index: 4;
}

#error {
    display: none;
}
#error.closed {
    max-height: 0;
}
#error_message {
    color: red;
    font-weight: bold;
}
.connectionerror .aspectratio #error {
    /* Dropdown effect Learnt From: https://davidwalsh.name/css-slide. Doesnt work as expected */
    overflow-y: hidden;
    max-height: 500px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    display: block;
    width: 100%;
    background: rgba(0, 0, 70, 0.8);
    text-align: center;
    position: absolute;
    z-index: 1;
}

.loading .spawnscreen,
.dead.spectating .spawnscreen,
.alive .spawnscreen {
    display: none;
}

.alive #fullPageCard,
.spectating #fullPageCard {
    display: none;
}

.spawnscreen {
    animation: fadein 2s;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 50, 0.8);
    top: 0;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#logo {
    width: 90vmin;
    image-rendering: pixelated;
}

#hintbox {
    font-size: 14pt;
    margin: 2rem 0 0 0;
}

a:visited,
a {
    color: white;
}

@media only screen and (max-width: 1200px) {
    #twitterpated,
    #controls_instructions {
        transform: scale(0.6);
        transform-origin: bottom left;
    }
}

@media only screen and (max-width: 1000px) {
    #twitterpated,
    #socialMediaContainer,
    #controls_instructions {
        display: none;
    }
}
#socialMediaContainer {
    position: absolute;
    bottom: 3vh;
}
#twitterpated {
    left: 0;
    width: 500px;
    background-color: #aae9ff4d;
    padding: 0.5em;
    border-radius: 6px;
    position: absolute;
    bottom: 10vh;
    border: 2px solid #8ac2d4cc;
    box-shadow: inset #bde7f5cc 0px 0px 0px 2px;
    
}

#twitterpated h4 {
    border: 2px solid #1989b8ff;
    border-bottom: none;
    box-shadow: inset #35baf3ff 0px 0px 0px 2px;
    margin: calc( -0.5em - 2px ) calc( -0.5em - 2px ) 0px calc( -0.5em - 2px );
    border-radius: 6px 6px 0px 0px;
    background: #1ea7e1ff;
    padding: 0.5em;
    font-weight: normal;
    color:#fff;
}
#twitterpated table {
    border: 2px solid #9ea4adff;
    border-top: none;
    box-shadow: inset #ecf2faff 0px 0px 0px 2px;
    margin: 0px calc( -0.5em - 2px ) calc( -0.5em - 2px ) calc( -0.5em - 2px );
    border-radius: 0px 0px 6px 6px;
    background: #d6dde7ff;
    padding: 0.5em;
    font-weight: normal;
    color:#333333;
}

#twitterpated .date {
    float: left;
    color: #111111;
    margin-right: 1em;
}

#controls_instructions {
    position: absolute;
    right: 20vh;
    width: 240px;
    bottom: 0;
}

.spawnscreen .social {
    text-align: left;
    bottom: 0;
    margin-left: 2%;
    margin-right: 2%;
    position: absolute;
    width: 96%;
}

.spectating #nipple-controls,
.loading #nipple-controls {
    visibility: hidden;
}

#nipple-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.social_divider {
    margin-top: 5px;
}

#reddit {
    height: 6vh;
    vertical-align: middle;
}

#discord {
    height: 6vh;
    vertical-align: middle;
}

#iogamesspace {
    vertical-align: middle;
    height: 4vh;
}

#titotu {
    height: 4vh;
    vertical-align: middle;
}

#titotu span {
    font-size: 15px;
}

.spawnscreen .controls {
    margin: 3vmin;
    position: relative;
    z-index: 2;
}

#spectate_container {
    position: absolute;
    right: 0;
    bottom: 3vh;
}

#stop_spectating_container {
    display: none;
}

.spectating #stop_spectating_container {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: block;
}

.spectate_only #stop_spectating_container {
    display: none;
}

.spectating #stop_spectating {
    opacity: 0.2;
    transition: opacity 1s;
}

.spectating #stop_spectating:hover {
    opacity: 1;
}

.button1 {

    padding: 10px;
    margin: 1vh 0.5vh;
    font-size: 0.75rem;
    color: white;
    text-transform: uppercase;
    transition: border 1s, color 1s,background 1s;
    

   
    background-color: #aae9ff4d;
    border-radius: 6px;
    border: 2px solid #8ac2d4cc;
    box-shadow: inset #bde7f5cc 0px 0px 0px 2px;
    font-family: KenneyFuture;
}
.button2 {
    
    padding: 10px;
    margin: 1vh 0.5vh;
    font-size: 0.75rem;
    color: #333333;
    text-transform: uppercase;
    transition: border 1s, color 1s,background 1s;
    background-color: #eeeeeeff;
    border-radius: 6px;
    border: 2px solid #d5d5d5ff;
    box-shadow: inset #ffffffff 0px 0px 0px 2px;
    font-family: KenneyFuture;
}
.button3 {
    
    padding: 10px;
    margin: 1vh 0.5vh;
    font-size: 0.75rem;
    color: #fff;
    text-transform: uppercase;
    transition: border 1s, color 1s,background 1s;
    background-color: #73cd4bff;
    border-radius: 6px;
    border: 2px solid #5fb13aff;
    box-shadow: inset #88e060ff 0px 0px 0px 2px, #47832cff 0 2px;
    transform: translateY(-2px);
    font-family: KenneyFuture;
    transition: all 0.5s;
}
.button3:hover{
    
    box-shadow: inset #88e060ff 0px 0px 0px 2px, #47832cff 0 3px;
    transform: translateY(-3px);
}
.button3:active{
    
    box-shadow: inset #88e060ff 0px 0px 0px 2px, #47832cff 0 0px;
    transform: translateY(0px);
}

.button1:hover {
    cursor: pointer;
    background-color: #d2f3ff96;
    color: #fff;
}

.button1:disabled {
    border: none;
}

#nick {
    border: none;
    background: none;
    border-bottom: 1px solid #9d9d9d;
    text-align: center;
    padding: 5px 0 5px 0;
    font-size: 2rem;
    color: white;
    margin: 0 0 10px 0;
    transition: border-bottom 1s;
    width: 20rem;
    font-family: KenneyFuture;
}

#shipSelectorSwitch {
    margin: 0 0 20px 0;
}

#shipSelectorSwitch .circle {
    width: 8vh;
    height: 8vh;
    margin: 0 5px 0 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.6s;
    display: inline-block;
    transform: rotate(-90deg);
}

#shipSelectorSwitch .circle:hover {
    transform: rotate(-90deg) scale(1.1);
}

#shipSelectorSwitch .selected,
#shipSelectorSwitch .selected:hover {
    transform: rotate(-90deg) scale(1.3);
}

#nick:focus {
    border-bottom: 1px solid white;
    outline: none;
}

select {
    appearance: none;
}

.noselect {
    user-select: none;
}

#ctf_arena {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
}

#ctf_cyan {
    position: absolute;
    top: 20px;
    margin-right: 25%;
    font-size: 30px;
    left: 0;
    width: 50%;
    text-align: right;
}

#ctf_cyan .flag_status {
    margin-right: 150px;
    opacity: 0.7;
}

#ctf_cyan .flag_status .home {
    color: green;
}

#ctf_cyan .flag_status .taken {
    color: red;
}

#ctf_red {
    position: absolute;
    top: 20px;
    margin-right: 25%;
    font-size: 30px;
    text-align: left;
    width: 50%;
}

#ctf_red .flag_status {
    margin-left: 150px;
    opacity: 0.7;
}

#ctf_red .flag_status .home {
    color: green;
}

#ctf_red .flag_status .taken {
    color: red;
}

.property-name {
    text-align: left;
}

.function .property-name {
    width: 100% !important;
}

table {
    text-align: left;
}

#shoot {
    border-radius: 100%;
    width: 8vh;
    height: 8vh;
    position: absolute;
    right: 10%;
    bottom: 5%;
    border: 2vh solid white;
}
#shoot:before {
    border: 2vh solid #fff;
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border-radius: 100%;
}

#boost {
    border-radius: 100%;
    width: 8vh;
    height: 8vh;
    position: absolute;
    right: 5%;
    bottom: 20%;
    border: 2vh solid white;
}
#boost:before {
    content: "";
    display: block;
    position: absolute;
    top: 3vh;
    left: 3vh;
    right: 3vh;
    bottom: 3vh;
    border-radius: 100%;
    background: white;
}

#boost:after {
    content: "";
    display: block;
    position: absolute;
    left: 3vh;
    right: 3vh;
    bottom: 0vh;
    width: 0;
    height: 0;
    border-left: 1vh solid transparent;
    border-right: 1vh solid transparent;
    border-top: 4vh solid white;
}

#gear {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 50, 0.8);
    z-index: 3;
    overflow-y: auto;
}
#gear.closed {
    display: none;
}

#settingsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#worldSelector {
    color: white;
}

#worlds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    background: rgba(0, 0, 50, 0.8);
    z-index: 3;
    opacity: 1;
    transition: 0.5s opacity ease-in-out;

    border: 0px solid #9ea4adff;
    box-shadow: #9ea4adff 0px 0px 0px 2px inset,inset #ecf2faff 0px 0px 0px 4px;
    margin: 0px calc( -0.5em - 2px ) calc( -0.5em - 2px ) calc( -0.5em - 2px );
    border-radius: 6px 6px 6px 6px;
    background-color: #d6dde7ff;
    background-image: url("../img/UIBolt2.png"),url("../img/UIBolt2.png"),url("../img/UIBolt2.png"),url("../img/UIBolt2.png");
    background-position: top left,top right, bottom left, bottom right;
    background-repeat: no-repeat;
    padding: 1em;
    font-weight: normal;
    color:#333333;
}
#world-list-scroll{
    overflow-y: auto;
    height: calc( 100% - 44px );
}
#worlds #topbar{
    border: 2px solid #1989b8ff;
    border-bottom: none;
    box-shadow: inset #35baf3ff 0px 0px 0px 2px;
    margin: -1em -1em 0.5em -1em;
    border-radius: 6px 6px 0px 0px;
    background: #1ea7e1ff;
    padding: 1em;
    font-weight: normal;
    color:#fff;
    
}
.close-button{
    position: absolute;
    right: 1em;
    top: 1em;
}

#gear .button1,
#worlds .button1 {
    margin: 2px;
}

#worldList {
    width: 100%;
    background:#c9d0d9ff;
    box-shadow: #b6bec9ff inset 0 2px;
    border-radius: 6px;
}
.blur {
    filter: blur(10px);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 18px;
    
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    background-color: #aae9ff4d;
    border-radius: px;
    border: 2px solid #8ac2d4cc;
    box-shadow: inset #bde7f5cc 0px 0px 0px 2px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 2px;
    bottom: 2px;
    background:url("../img/dotWhite.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #48b6dbcc;
}

input:focus + .slider {
    border-color:  #caf2ffef; 
}

#worldList .empty {
    background-color: #222;
    background: none;
    
}
#second-world-td{
    background-image: url("../img/GreenIndicator.png");
    background-position: calc( 100% - 0.5em);
    background-repeat: no-repeat;
}
.empty #second-world-td{
    background-image: url("../img/RedIndicator.png");
    background-position: calc( 100% - 0.5em);
    background-repeat: no-repeat;
}

#worldList .details {
    display: none;
}

#worldList .selected .details td {
    border: none;
    padding: 0 0.5em;

}

#worldList .selected .details {
    display: table-row;
    
}
#worldList #detail-inset {
    background:hsla(214, 17%, 78%, 1);
    box-shadow: #b6bec9ff inset 0 2px;
    border-radius: 6px;
    min-height: calc( 136px - 1em );
    padding: 0.5em;
}

#worldList .details img {
    float: right;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.closed {
    opacity: 0 !important;
    z-index: -2 !important;
}
input:checked + .slider:before {
    transform: translateX(42px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#fullPageCard {
    background-color: var(--bg-color-1);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    transition: transform 1s;
}

.hidden {
    transform: translateY(100%);
}

#fullPageCard #openArrow {
    color: #d9d9d9;
    background-color: #222;
    margin: auto;
    width: 100px;
    height: 30px;
    text-align: center;
    transform: translateY(-100%);
    font-size: 25px;
    cursor: pointer;
    border-top-left-radius: 12px;
    border-top-right-radius:12px;
    transition: color 1s;

    background-color: #aae9ff4d;
    border: 2px solid #8ac2d4cc;
    box-shadow: inset #bde7f5cc 0px 0px 0px 2px;
    font-family: KenneyFuture;
    border-bottom: none;
    margin-top: 2px;
    margin-bottom: -2px;
}

#fullPageCard #openArrow:hover i {
    color: #fff;
}

#fullPageCard #close {
    color: #9d9d9d;
    text-align: right;
    font-size: 25px;
    transition: color 1s;
    cursor: pointer;
    margin-right: 20px;
}

#fullPageCard #close:hover {
    color: #fff;
}

#fullPageCard h1,
#fullPageCard h2 {
    text-align: center;
    text-transform: uppercase;
}

#fullPageCard #fullPageCardOuterContainer {
    max-height: 80vh;
    overflow-y: auto;
}

#fullPageCard #fullPageCardInnerContainer {
    text-align: justify;
    column-count: 3;
    column-gap: 40px;
    margin: 0 40px 0 40px;
}

@media only screen and (max-width: 1250px) {
    #fullPageCard #fullPageCardInnerContainer {
        column-count: 2;
    }
}

@media only screen and (max-width: 700px) {
    #fullPageCard #fullPageCardInnerContainer {
        column-count: 1;
    }
}

#fullPageCard section {
    break-inside: avoid;
}

.spectating #fullPageCard,
.alive #fullPageCard {
    display: none;
}

#hud {
    font-family: sans-serif;
    font-size: 8pt;
    position: absolute;
    bottom: 30px;
    left: 15px;
}

#record {
    font-family: sans-serif;
    font-size: 8pt;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

:root {
    --leaderboard-width: 250px;
}

#leaderboard {
    position: absolute;
    top: 10px;
    right: 30px;
    width: var(--leaderboard-width);
    padding: 0;
    margin: 0;
    font-size: 12pt;
}

#leaderboard-left {
    position: absolute;
    top: 10px;
    left: 30px;
    width: var(--leaderboard-width);
    padding: 0;
    margin: 0;
    font-size: 12pt;
}

#leaderboard-center {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    width: var(--leaderboard-width);
    padding: 0;
    margin: 0;
    font-size: 12pt;
}

#leaderboard td,
#leaderboard tr,
#leaderboard-left td,
#leaderboard-left tr {
    height: 28px;
    margin: 0;
    padding: 0;
    border: none;
}
.overlap {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100px;
    margin: 0;
    padding: 0;
}
.arrow {
    width: 18px;
    height: 8px;
    margin: auto;
    display: block;
}
.blue {
    color: cyan;
}
.score {
    float: right;
    right: 0px;
    text-align: right;
    width: 28px;
}
td.flag {
    width: 27px;
    height: 27px;
    position: relative;
}
.name {
    width: calc(var(--leaderboard-width) - 56px);
}
table {
    border-spacing: 0;
}
.flag-arrow {
    width: 27px;
    height: 27px;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
}
#log {
    position: absolute;
    bottom: 55px;
    left: 15px;
    font-size: 12pt;
    text-align: left;
}
#gameCanvas2 {
    position: absolute;
    top: 0;
    left: 0;
}
.hide {
    display: none;
}
#chat {
    z-index: 1;
    display: absolute;
    top: 10px;
    left: 10px;
    left: 10px;
    width: 200px;
    height: 150px;
}

.dead #cooldown,
.spectating #cooldown {
    display: none;
}

#cooldown {
    position: absolute;
    bottom: 3vh;
    left: 50%;
    width: 30%;
    transform: translateX(-50%);
}

option {
    background-color: var(--bg-color-1);
}
.cirlce-red {
    background: red;
}
.cirlce-pink {
    background: pink;
}
.cirlce-orange {
    background: orange;
}
.cirlce-yellow {
    background: yellow;
}
.cirlce-cyan {
    background: cyan;
}
.cirlce-green {
    background: lime;
}

progress {
    display: block; /* default: inline-block */
    width: 300px;
    margin: 2em auto;
    padding: 4px;
    border: 0 none;
    background: rgba(4, 4, 4, 0.5);
    border-radius: 14px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
progress::-moz-progress-bar {
    border-radius: 12px;
    background: rgba(7, 7, 7, 0.5);
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
}
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    progress {
        height: 15px;
    }
}
progress::-webkit-progress-bar {
    background: transparent;
}
progress::-webkit-progress-value {
    border-radius: 12px;
    background: #444;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
}

#bigLog {
    position: absolute;
    top: 4em;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
}

#settingsTable {
    margin: 10px auto 10px auto;
}

#minimap {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #999;
}

#minimapTip {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 15px;
    color: #777;
}
