@import url('https://fonts.googleapis.com/css?family=Exo+2');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    text-align: center;
    overflow: hidden;
    font-family: "Exo 2";
}

#aspectratio {
    position: absolute;
    width: 100vw;
    height: 56.25vw; /* 100/56.25 = 1.778 */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#hud {
    z-index: 1;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 300px;
}

.loading .spawnscreen,
.dead.spectating .spawnscreen,
.alive .spawnscreen {
    visibility: hidden;
}

.dead .spawnscreen {
    animation: fadein 2s;
    visibility: visible;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 50, 0.8);
    top: 0;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#logo {
    width: 90vmin;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

#hintbox {
    color: white;
    font-size: 14pt;
}

#twitterpated a:visited,
#twitterpated a {
    color: white;
}

#twitterpated {
    /*float: left;*/
    left: 30px;
    width: 500px;
    background-color: rgba(255,255,255,0.3);
    color: white;
    padding: .5em;
}

#twitterpated .date {
    float: left;
    color: #111111;
    margin-right: 1em;
}


.spawnscreen .social {
    text-align: left;
    bottom: 50px;
    margin-left: 50px;
    position: absolute;
    width: 100%;
}

#discord {
    height: 50px;
}

.spawnscreen .controls {
    margin: 15vmin;
    position: relative;
    z-index: 2;
}

#spectate_container {
    float: right;
    margin-right: 10%;
}

.dead .spawnscreen input,
.dead .spawnscreen select {
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px 5px 10px 5px;
    border: none;
    background: linear-gradient(to right, #008888 0%, #0066ff 100%) left bottom rgba(55,55,90,0.8) no-repeat;
    background-size: 100% 5px;
    color: white;
    margin: 0.5em;
}

#panel {
    z-index: 1;
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 300px;
    text-align: left;
    background-color: rgba(0, 0, 255, 0.3);
    border: solid 1px rgba(0, 0, 255, 0.9);
    overflow-wrap: normal;
}

#panel ul, #panel a {
    color: white;
}

#panel ul {
    width: 300px;
    padding: 10px;
    list-style-type: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ansible .serverlinks a {
    margin-right: 3px;
}


.change-log-button {
    color: red;
}

.peerlist a {
    text-decoration-style: none;
    clear: right;
}

.peerrange {
    float: right;
    width: 60px;
}

.peerpointer {
    clear: right;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    text-decoration-style: none;
    float: right;
}

.pin {
    float: right;
    width: 20px;
    height: 20px;
}

label {
    width: 150px;
}

.attribute-slider {
    margin-left: 20px;
    width: 100px;
    display: inline-block;
    right: 0;
    position: absolute;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
