@import url("https://fonts.googleapis.com/css?family=Exo+2");

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    text-align: center;
    overflow: hidden;
    font-family: "Exo 2";
    color: white;
}

#aspectratio {
    position: absolute;
    width: 100vw;
    height: 56.25vw; /* 100/56.25 = 1.778 */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loading .spawnscreen,
.dead.spectating .spawnscreen,
.alive .spawnscreen {
    visibility: hidden;
}

.spawnscreen {
    animation: fadein 2s;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 50, 0.8);
    top: 0;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#logo {
    width: 90vmin;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

#hintbox {
    font-size: 14pt;
}

a:visited,
a {
    color: white;
}

#twitterpated {
    left: 30px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.5em;
}

#twitterpated .date {
    float: left;
    color: #111111;
    margin-right: 1em;
}

.spawnscreen .social {
    text-align: left;
    bottom: 50px;
    margin-left: 50px;
    position: absolute;
    width: 100%;
}

#nipple-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#discord {
    height: 50px;
}

.spawnscreen .controls {
    margin: 15vmin;
    position: relative;
    z-index: 2;
}

#spectate_container {
    float: right;
    margin-right: 10%;
}

.spawnscreen input,
.spawnscreen select {
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px 5px 10px 5px;
    border: none;
    background: linear-gradient(to right, #008888 0%, #0066ff 100%) left bottom rgba(55, 55, 90, 0.8) no-repeat;
    background-size: 100% 5px;
    color: white;
    margin: 0.5em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.property-name {
    text-align: left;
}

.function .property-name {
    width: 100% !important;
}

table {
    text-align: left;
}

#shoot {
    border-radius: 100%;
    width: 8vh;
    height: 8vh;
    position: absolute;
    right: 10%;
    bottom: 5%;
    border: 2vh solid white;
}
#shoot:before {
    border: 2vh solid #fff;
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border-radius: 100%;
}


#boost {
    border-radius: 100%;
    width: 8vh;
    height: 8vh;
    position: absolute;
    right: 5%;
    bottom: 20%;
    border: 2vh solid white;
}
#boost:before {
    content: "";
    display: block;
    position: absolute;
    top: 3vh;
    left: 3vh;
    right: 3vh;
    bottom: 3vh;
    border-radius: 100%;
    background: white;
}

#boost:after {
    content: "";
    display: block;
    position: absolute;
    left: 3vh;
    right: 3vh;
    bottom: 0vh;
    width: 0; 
    height: 0; 
    border-left: 1vh solid transparent;
    border-right: 1vh solid transparent;
    border-top: 4vh solid white;  
}
