document {
    font-family: "Exo 2"
}

canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}

#hud {
    z-index: 90000;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 300px;
    overflow-wrap: normal;
}

#panel {
    z-index: 90000;
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 300px;
    background-color: rgba(0, 0, 255, 0.3);
    border: solid 1px rgba(0, 0, 255, 0.9);
    overflow-wrap: normal;
}

    #panel ul, #panel a {
        color: white;
    }

    #panel ul {
        width: 300px;
        padding: 10px;
        list-style-type: none;
    }

.ansible .serverlinks a {
    margin-right: 3px;
}


.change-log-button {
    color: red;
}

.peerlist a {
    text-decoration-style: none;
    clear: right;
}

.peerrange {
    float: right;
    width: 60px;
}

.peerpointer {
    clear: right;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    text-decoration-style: none;
    float: right;
}

.pin {
    float: right;
    width: 20px;
    height: 20px;
}

label {
    width: 150px;
    display: inline-block;
}

.attribute-slider {
    margin-left: 20px;
    width: 100px;
    display: inline-block;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}