document {
    font-family: "Exo 2";
}

html,
body {
    height: 100%;
    background-color: black;
    margin: 0;
    overflow: hidden;
    display: table;
}

#gamewrapperouter {
    display: table-cell;
    vertical-align: middle;
}
#gamewrapperinner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

canvas {
}

#hud {
    z-index: 90000;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 300px;
    overflow-wrap: normal;
}

.loading .spawnscreen,
.dead.spectating .spawnscreen,
.alive .spawnscreen {
    display: none;
}

.dead .spawnscreen {
    animation: fadein 2s;
    display: block;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,255,0.2);
    top: 0;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#logo
{
    margin: 30px;
}

#hintbox {
    color: white;
    font-size: 14pt;
}

#twitterpated a:visited,
#twitterpated a {
    color: white;
}

#twitterpated {
    float: left;
    left: 30px;
    width: 500px;
    background-color: rgba(255,255,255,0.3);
    color: white;
    padding: .5em;
}

#twitterpated .date
{
    float: left;
    color: #111111;
    margin-right: 1em;
}


.spawnscreen .social {
    text-align: left;
    bottom: 50px;
    margin-left: 50px;
    position: absolute;
}

#discord
{
    height: 50px;
}

.spawnscreen .controls {
    margin: 160px;
}

.dead .spawnscreen input,
.dead .spawnscreen select {
    border-radius: 25px;
    padding: 1em;
}

#panel {
    z-index: 90000;
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 300px;
    background-color: rgba(0, 0, 255, 0.3);
    border: solid 1px rgba(0, 0, 255, 0.9);
    overflow-wrap: normal;
}

    #panel ul, #panel a {
        color: white;
    }

    #panel ul {
        width: 300px;
        padding: 10px;
        list-style-type: none;
    }

.ansible .serverlinks a {
    margin-right: 3px;
}


.change-log-button {
    color: red;
}

.peerlist a {
    text-decoration-style: none;
    clear: right;
}

.peerrange {
    float: right;
    width: 60px;
}

.peerpointer {
    clear: right;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    text-decoration-style: none;
    float: right;
}

.pin {
    float: right;
    width: 20px;
    height: 20px;
}

label {
    width: 150px;
    display: inline-block;
}

.attribute-slider {
    margin-left: 20px;
    width: 100px;
    display: inline-block;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
