@import url("https://fonts.googleapis.com/css?family=Exo+2");

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    text-align: center;
    overflow: hidden;
    font-family: "Exo 2";
    color: white;
	--bg-color-1: #222;
}

.aspectratio {
    width: 100vw;
    height: 56.25vw; /* 100/56.25 = 1.778 */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
}
#container {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#titan {
    position: absolute;
    height: 50vh;
    width: 30vw;
    bottom: 0;
    right: 15px;
    z-index: 4;
}

#error {
    display: none;
}
#error.closed {
    max-height: 0;
}
#error_message {
    color: red;
    font-weight: bold;
}
.connectionerror .aspectratio #error {
    /* Dropdown effect Learnt From: https://davidwalsh.name/css-slide. Doesnt work as expected */
    overflow-y: hidden;
    max-height: 500px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    display: block;
    width: 100%;
    background: rgba(0, 0, 70, 0.8);
    text-align: center;
    position: absolute;
    z-index: 1;
}

.loading .spawnscreen,
.dead.spectating .spawnscreen,
.alive .spawnscreen {
    visibility: hidden;
}

.spawnscreen {
    animation: fadein 2s;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 50, 0.8);
    top: 0;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#logo {
    width: 90vmin;
    image-rendering: pixelated;
}

#hintbox {
    font-size: 14pt;
    margin: 2rem 0 0 0;
}

a:visited,
a {
    color: white;
}

@media only screen and (max-width: 1200px) {
    #twitterpated,
    #controls_instructions {
        transform: scale(0.6);
        transform-origin: bottom left;
    }
}

@media only screen and (max-width: 1000px) {
    #twitterpated,
    #socialMediaContainer,
    #controls_instructions {
        display: none;
    }
}
#socialMediaContainer {
    position: absolute;
    bottom: 3vh;
}
#twitterpated {
    left: 0;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0.5em;
    border-radius: 5px;
    position: absolute;
    bottom: 8vh;
}

#twitterpated h4 {
    margin: 0 0 3px 3px;
}

#twitterpated .date {
    float: left;
    color: #111111;
    margin-right: 1em;
}

#controls_instructions {
    position: absolute;
    right: 20%;
    width: 240px;
    bottom: 0;
}

.spawnscreen .social {
    text-align: left;
    bottom: 0;
    margin-left: 2%;
    margin-right: 2%;
    position: absolute;
    width: 96%;
}

.spectating #nipple-controls,
.loading #nipple-controls {
    visibility: hidden;
}

#nipple-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.social_divider {
    margin-top: 5px;
}

#reddit {
    height: 4vh;
    vertical-align: middle;
}

#discord {
    height: 4vh;
    vertical-align: middle;
}

#iogamesspace {
    vertical-align: middle;
    height: 4vh;
}

#titotu {
    height: 4vh;
    vertical-align: middle;
}

#titotu span {
    font-size: 15px;
}

.spawnscreen .controls {
    margin: 3vmin;
    position: relative;
    z-index: 2;
}

#spectate_container {
    position: absolute;
    right: 0;
    bottom: 3vh;
}

#stop_spectating_container {
    display: none;
}

.spectating #stop_spectating_container {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: block;
}

.spectate_only #stop_spectating_container {
    display: none;
}

.spectating #stop_spectating {
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px 5px 10px 5px;
    border: none;
    background: linear-gradient(to right, #008888 0%, #0066ff 100%) left bottom rgba(55, 55, 90, 0.8) no-repeat;
    background-size: 100% 5px;
    color: white;
    opacity: 0.1;
}

.spectating #stop_spectating:hover {
    opacity: 1;
}

.button1 {
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    color: #9d9d9d;
    background: none;
    padding: 10px;
    margin: 1vh 0.5vh;
    font-size: 0.75rem;
    color: white;
    text-transform: uppercase;
    transition: border 1s, color 1s;
}

.button1:hover {
    cursor: pointer;
    border: 1px solid white;
    color: #fff;
}

.button1:disabled {
    border: none;
}

#nick {
    border: none;
    background: none;
    border-bottom: 1px solid #9d9d9d;
    text-align: center;
    padding: 5px 0 5px 0;
    font-size: 2rem;
    color: white;
    margin: 0 0 10px 0;
    transition: border-bottom 1s;
    width: 20rem;
}

#shipSelectorSwitch {
    margin: 0 0 20px 0;
}

#shipSelectorSwitch img {
    transform: rotate(-90deg);
    width: 8vh;
    margin: 0 5px 0 5px;
    cursor: pointer;
    transition: transform 0.6s;
}

#shipSelectorSwitch img:hover {
    transform: rotate(-90deg) scale(1.1);
}

#shipSelectorSwitch .selected,
#shipSelectorSwitch .selected:hover {
    transform: rotate(-90deg) scale(1.3);
}

#nick:focus {
    border-bottom: 1px solid white;
    outline: none;
}

#worldSelector {
    color: white;
}

select {
    appearance: none;
}

.noselect {
    user-select: none;
}

#ctf_arena {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
}

#ctf_cyan {
    position: absolute;
    top: 20px;
    margin-right: 25%;
    font-size: 30px;
    left: 0;
    width: 50%;
    text-align: right;
}

#ctf_cyan .flag_status {
    margin-right: 150px;
    opacity: 0.7;
}

#ctf_cyan .flag_status .home {
    color: green;
}

#ctf_cyan .flag_status .taken {
    color: red;
}

#ctf_red {
    position: absolute;
    top: 20px;
    margin-right: 25%;
    font-size: 30px;
    text-align: left;
    width: 50%;
}

#ctf_red .flag_status {
    margin-left: 150px;
    opacity: 0.7;
}

#ctf_red .flag_status .home {
    color: green;
}

#ctf_red .flag_status .taken {
    color: red;
}

.property-name {
    text-align: left;
}

.function .property-name {
    width: 100% !important;
}

table {
    text-align: left;
}

#shoot {
    border-radius: 100%;
    width: 8vh;
    height: 8vh;
    position: absolute;
    right: 10%;
    bottom: 5%;
    border: 2vh solid white;
}
#shoot:before {
    border: 2vh solid #fff;
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border-radius: 100%;
}

#boost {
    border-radius: 100%;
    width: 8vh;
    height: 8vh;
    position: absolute;
    right: 5%;
    bottom: 20%;
    border: 2vh solid white;
}
#boost:before {
    content: "";
    display: block;
    position: absolute;
    top: 3vh;
    left: 3vh;
    right: 3vh;
    bottom: 3vh;
    border-radius: 100%;
    background: white;
}

#boost:after {
    content: "";
    display: block;
    position: absolute;
    left: 3vh;
    right: 3vh;
    bottom: 0vh;
    width: 0;
    height: 0;
    border-left: 1vh solid transparent;
    border-right: 1vh solid transparent;
    border-top: 4vh solid white;
}

#gear {
    position: absolute;
    padding: 10vmin;
    top: 0;
    left: 0;
    width: calc(100% - 20vmin);
    height: calc(100% - 20vmin);
    background: rgba(0, 0, 50, 0.8);
    z-index: 3;
    overflow-y: scroll;
}
#gear.closed {
    display: none;
}

#worlds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background: rgba(0, 0, 50, 0.8);
    z-index: 3;
    overflow-y: scroll;
    padding: 3em;
    opacity: 1;
    transition: 0.5s opacity ease-in-out;
}

#worldList {
    width: 100%;
}
.blur {
    filter: blur(10px);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #0066ff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0066ff;
}

#worldList .empty {
    color: #777;
    background-color: #333;
}

#worldList .details {
    display: none;
}
#worldList .selected {
    background-color: #777;
    color: #333;
}
#worldList .selected .details {
    display: table-row;
}

#worldList .details img {
    float: left;
    width: 100px;
    height: 100px;
}

.closed {
    opacity: 0 !important;
    z-index: -2 !important;
}
input:checked + .slider:before {
    transform: translateX(39px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#fullPageCard {
    background-color: var(--bg-color-1);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    transition: transform 1s;
}

.hidden {
    transform: translateY(100%);
}

#fullPageCard #openArrow {
    color: #d9d9d9;
    background-color: #222;
    margin: auto;
    width: 100px;
    height: 30px;
    text-align: center;
    transform: translateY(-100%);
    font-size: 25px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: color 1s;
}

#fullPageCard #openArrow:hover i {
    color: #fff;
}

#fullPageCard #close {
    color: #9d9d9d;
    text-align: right;
    font-size: 25px;
    transition: color 1s;
    cursor: pointer;
    margin-right: 20px;
}

#fullPageCard #close:hover {
    color: #fff;
}

#fullPageCard h1,
#fullPageCard h2 {
    text-align: center;
    text-transform: uppercase;
}

#fullPageCard #fullPageCardContainer {
    text-align: justify;
    column-count: 3;
    column-gap: 40px;
    margin: 0 40px 0 40px;
    overflow-y: auto;
}

.spectating #fullPageCard,
.alive #fullPageCard {
	display: none;
}

#hud {
    font-family: sans-serif;
    font-size: 8pt;
    position: absolute;
    bottom: 30px;
    left: 15px;
}

#record {
    font-family: sans-serif;
    font-size: 8pt;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

:root {
    --leaderboard-width: 250px;
}

#leaderboard {
    position: absolute;
    top: 10px;
    right: 30px;
    width: var(--leaderboard-width);
    padding: 0;
    margin: 0;
    font-size: 12pt;
}

#leaderboard-left {
    position: absolute;
    top: 10px;
    left: 30px;
    width: var(--leaderboard-width);
    padding: 0;
    margin: 0;
    font-size: 12pt;
}

#leaderboard-center {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    width: var(--leaderboard-width);
    padding: 0;
    margin: 0;
    font-size: 12pt;
}

#leaderboard td,
#leaderboard tr,
#leaderboard-left td,
#leaderboard-left tr {
    height: 28px;
    margin: 0;
    padding: 0;
    border: none;
}
.overlap {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100px;
    margin: 0;
    padding: 0;
}
.arrow {
    width: 18px;
    height: 8px;
    margin: auto;
    display: block;
}
.blue {
    color: cyan;
}
.score {
    float: right;
    right: 0px;
    text-align: right;
    width: 28px;
}
td.flag {
    width: 27px;
    height: 27px;
    position: relative;
}
.name {
    width: calc(var(--leaderboard-width) - 56px);
}
table {
    border-spacing: 0;
}
.flag-arrow {
    width: 27px;
    height: 27px;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
}
#log {
    position: absolute;
    bottom: 55px;
    left: 15px;
    font-size: 12pt;
}
#gameCanvas2 {
    position: absolute;
    top: 0;
    left: 0;
}
.hide {
    display: none;
}
#chat {
	z-index: 1;
	display: absolute;
	top: 10px;
	left: 10px;
	left: 10px;
	width: 200px;
	height: 150px;
}

option {
	background-color: var(--bg-color-1);
}
